@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blink-cursor {
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

body {
  @apply bg-background text-on-background min-h-screen flex flex-col antialiased selection:bg-secondary selection:text-on-secondary;
}
